{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">Actualizar Ingrediente</h2>

  <form method="POST" action="{% url 'realizar_actualizacion_ingrediente' ingrediente.id_ingrediente %}" class="shadow p-4 bg-light rounded">
    {% csrf_token %}
    
    <div class="row mb-3">
      <div class="col">
        <label>Nombre del Ingrediente:</label>
        <input type="text" name="nombre_ingrediente" class="form-control" value="{{ ingrediente.nombre_ingrediente }}" required>
      </div>

      <div class="col">
        <label>Unidad de Medida:</label>
        <input type="text" name="unidad_medida" class="form-control" value="{{ ingrediente.unidad_medida }}" required>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <label>Cantidad Actual:</label>
        <input type="number" name="cantidad_actual" class="form-control" value="{{ ingrediente.cantidad_actual }}" required>
      </div>
      <div class="col">
        <label>Stock Mínimo:</label>
        <input type="number" name="stock_minimo" class="form-control" value="{{ ingrediente.stock_minimo }}" required>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <label>Proveedor:</label>
        <select name="id_proveedor" class="form-select" required>
  {% for p in proveedores %}
  <option value="{{ p.id_proveedor }}" {% if p.id_proveedor == ingrediente.id_proveedor.id_proveedor %}selected{% endif %}>
    {{ p.nombre_empresa }}
  </option>
  {% endfor %}
</select>

      </div>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary px-5">Guardar Cambios</button>
      <a href="{% url 'ver_ingrediente' %}" class="btn btn-secondary px-4">Cancelar</a>
    </div>
  </form>
</div>
{% endblock %}
