{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">Registrar Ingrediente</h2>

  <form method="POST" class="shadow p-4 bg-light rounded">
    {% csrf_token %}

    <div class="row mb-3">
      <div class="col">
        <label>Nombre del Ingrediente:</label>
        <input type="text" name="nombre_ingrediente" class="form-control" required>
      </div>

      <div class="col">
        <label>Unidad de Medida:</label>
        <input type="text" name="unidad_medida" class="form-control" placeholder="kg, litros, gramos..." required>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <label>Cantidad Actual:</label>
        <input type="number" name="cantidad_actual" class="form-control" required>
      </div>
      <div class="col">
        <label>Stock Mínimo:</label>
        <input type="number" name="stock_minimo" class="form-control" required>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <label for="proveedor">Proveedor:</label>
        <select name="proveedor" class="form-select" required>
          <option value="">Seleccione un proveedor</option>
          {% for p in proveedores %}
          <option value="{{ p.id_proveedor }}">{{ p.nombre_empresa }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-success px-5">Guardar Ingrediente</button>
    </div>
  </form>
</div>
{% endblock %}
