{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 text-center">
  <div class="card shadow-sm p-4 bg-light rounded">
    <h3 class="mb-3 text-danger">Confirmar Eliminación</h3>

    <p>¿Estás seguro de que deseas eliminar al proveedor 
      <strong>{{ proveedor.nombre_empresa }}</strong>?
    </p>

    <form method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger px-4">Sí, eliminar</button>
      <a href="{% url 'ver_proveedor' %}" class="btn btn-secondary px-4">Cancelar</a>
    </form>
  </div>
</div>
{% endblock %}
