{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <h2 class="text-center mb-4">Actualizar Venta</h2>

  <form method="POST" action="{% url 'realizar_actualizacion_venta' venta.id_venta %}" class="shadow p-4 bg-light rounded">
    {% csrf_token %}
    
    <div class="row mb-3">
      <div class="col">
        <label for="id_cliente">Cliente:</label>
        <select name="id_cliente" class="form-select" required>
          {% for c in clientes %}
          <option value="{{ c.id_cliente }}" {% if c.id_cliente == venta.id_cliente.id_cliente %}selected{% endif %}>
            {{ c.nombre }} {{ c.apellido }}
          </option>
          {% endfor %}
        </select>
      </div>

      <div class="col">
        <label for="id_producto">Producto:</label>
        <select name="id_producto" class="form-select" required>
          {% for p in productos %}
          <option value="{{ p.id_producto }}" {% if p.id_producto == venta.id_producto.id_producto %}selected{% endif %}>
            {{ p.nombre }} ({{ p.sabor }})
          </option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="col">
        <label for="id_empleado">Empleado:</label>
        <select name="id_empleado" class="form-select" required>
          {% for e in empleados %}
          <option value="{{ e.id_empleado }}" {% if e.id_empleado == venta.id_empleado.id_empleado %}selected{% endif %}>
            {{ e.nombre }} {{ e.apellido }}
          </option>
          {% endfor %}
        </select>
      </div>

    <div class="row mb-3">
      <div class="col">
        <label>Cantidad:</label>
        <input type="number" name="cantidad" class="form-control" value="{{ venta.cantidad }}" required>
      </div>
      <div class="col">
        <label>Método de Pago:</label>
        <input type="text" name="metodo_pago" class="form-control" value="{{ venta.metodo_pago }}" required>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <label>Estado:</label>
        <input type="text" name="estado" class="form-control" value="{{ venta.estado }}" required>
      </div>
      <div class="col">
        <label>Observaciones:</label>
        <input type="text" name="observaciones" class="form-control" value="{{ venta.observaciones }}">
      </div>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary px-5">Guardar Cambios</button>
      <a href="{% url 'ver_venta' %}" class="btn btn-secondary px-4">Cancelar</a>
    </div>
  </form>
</div>
{% endblock %}
